<!DOCTYPE html>
<html>
<head>
	<title>Gif List</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
	<h2>Cool People Discord Gif List</h2>
	<input class="form-control" id="myInput" type="text" placeholder="Search..">
	<br>

	<table class="table table-striped" id="myTable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Created By</th>
        <th>Preview</th>
      </tr>
    </thead>
    <tbody>
		<% gifs.forEach(function(gif){ %>
    <tr>
      <td><a href="<%= gif.url %>" target="_blank"><%= gif.call %></a></td>
			<td><%= gif.creator %></td>
      <td><img src="<%= gif.url %>", height="50px"></td>
    </tr>
		<% }) %>
    </tbody>

	</table>
</div>

</body>
<script src="script.js"></script>

<!-- This was all stolen from https://www.w3schools.com/bootstrap/bootstrap_filters.asp-->
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
</html>
